<section class="section">
    <div class="container">
        <h1 class="title">{{title}}</h1>
        <div><a href="/instagram">Get all Antwans images</a></div>
        <div><a href="/instagram?tag=skyporn">Get all Antwans images with #skyporn</a></div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div>
            <a id="fetch-button" class="button is-primary">Fetch latest data from Antwans instagram</a>
            <i id="fetch-loader" class="fas fa-spinner fa-pulse is-hidden"></i>
        </div>
    </div>
</section>
